.vs/*
UserSettings/*
Library/*
Logs/*
*.log
Temp/*
.vscode/*

# Don't include symbols or system-specific info as it just bloats the repository
obj/*
*.htm
uWindowCapture.log

# Don't include IO dlls
Assets/IO/*
